{% layout 'layout.liquid' %}
{% block content %}
    <div class="col-mb-4">
        <h1 class="display-4">Welcome to Skincare Galore!</h1>
        <p>This app is all about finding the right skincare product for you</p>
        <img src="https://lh3.googleusercontent.com/UID7sc26DvNfyst2YcXsycTch8hYcus34u72JONEs70R8npn8cSc-Vj2uMKRC0nociYZJRKmATk5qAKF4A_tsu-xYmYEzocfG6kvIKyNgA4Vv3yF3Bax7vfUWJ4EhS3VoZyAfRUIM2Po6WH4xTmRydwteQBCGDIcFtbRpP-CI_wwtTI8bIBGGg1Zm-tbz1VN_SObUKCohOGVZAaMM0IoRQnA6wEOaG0QA9_5x3xzsJL9DtW9r2Qg57C9aEgJC5DQhLv1xDH_wTg7Oe7rTZlZmnaG9RqBQyeTv58eDzf_wk3RNQjnMCKkkbShCWHgcETxhyMbfJJ0BK20dtOIIITb8Zy-hB1nJueLM5xkF_onLEiPsnKjNQWAMkcUJS5AtvrnzUd578oNtyqm5f30RY-ppQWu0B1KPf7icVMidFfQ6m0-F3rxddfhaQnLHOHaLx77eHuGiBVb6FnVvqVEXVD2s5lzBNQ4gzD1z3PlsHw4J8DILT1sTF323_Wj-GLRaQppMip6sYlR_mB5JkL9gC28j4AQdAeDdKz-ma1ODarswJxbDOKqF7F2IIF04r0cx5yXRUnoBWNUPgFXSRYegD0W-8xE2aVUJFefRm8qpWSafFp-rcECrtdIUy-nL3Awk-N9Mz7B-mITyxw1caXGkCybZoHxSgKlYQLmsHAUXYtMMYmQ_FKcgYhvZZ8OMdu18N_wRdG4-x1H3Z51DHBxOAfkWXh8t3ai-IAduMW5O3xY5UpAQGrQUwYjhaXhaprPqqXjQnouSDa9hFo2w1Lzcl-QGgWhRkmNfz4KOJwOhDKITOx8lmWNdcndCzApROEXilWfBncJGchTgPEYKvnvO5xyCAN_I-NGEacENRM1QWK24boMSmETKGgGeUqBi_fhOfqUwC73WfzitWoHsxJy-PEA-a2jFbi5s1H-P8uK08w=w301-h167-no?authuser=0" alt="image of skincare model" height="200px">
    </div>
    <div class="btn-group btn-group-lg mt-4">
        <a href="/users/signup" class="btn btn-success">Sign Up</a>
        <a href="/users/login" class="btn btn-success">Login</a>
    </div>
{% endblock %}
